#main {
    margin: 50px 200px 0 200px;
}

#newGameLink {
    margin: 20px 0 0 0;
}

#joinGameForm button {
    max-height: 38px;
}

#clicker img {
    width: 28px;
    height: 28px;
}

#clicker img:hover {
    width: 32px;
    height: 32px;
}

#clicker img:active {
    width: 36px;
    height: 36px;
}

.card {
    margin: 20px 0;
}

.card-body {
    min-height: 60px;
}

.navbar {
    padding-left: 200px;
}

.navbar img {
    height: 30px;
    width: 30px;
    margin: 5px 20px;
}

.no-records-found {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

.spinner-border {
    margin: 2px 30px 0 30px;
}

.icons-link {
    opacity: 0.2;
    font-size: 10px;
    position: fixed;
    bottom: 10px;
}

.bg-dark {
    background-color: darkgray !important;
}